{
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ]
}
